.collapse-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.collapse-item {
  background-color: #F3F0ED;
  padding: 20px;
  margin: 10px 0;
}

.collapsible {
  padding: 20px 0;
}

.not-active {
  display: none;
}

.collapse-closed {
  rotate: 180deg;
}

.collapse-list h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  line-height: 25px;
  color: #03656F;
  margin: 0;
  font-weight:700;
}

.collapse-list p {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  line-height: 25px;
  color: #000;
  margin: 0;
}
